[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=SyncNow;CopyDropboxLink;
X-KDE-Priority=TopLevel

[Desktop Action SyncNow]
Name=Dropbox Client: Sync now
Icon=folder-sync
Exec=umbrel-dropbox-client sync --once --path %F

[Desktop Action CopyDropboxLink]
Name=Dropbox Client: Copy link
Icon=edit-copy
Exec=umbrel-dropbox-client share-link --copy %F
