[Unit]
Description=Umbrel Dropbox Client daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/umbrel-dropbox-clientd --config %h/.config/umbrel-dropbox-client/config.json
Restart=on-failure
RestartSec=10
Nice=5
IOSchedulingClass=best-effort
IOSchedulingPriority=6

[Install]
WantedBy=default.target
